!!! 5

%html{lang: 'en'}
  %head
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    %meta{charset: 'utf8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Farmasa GU
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

  %body
    .container
      .row.with-background
        .row
          .span4.offset8
            - if @current_user.admin?
              = link_to 'Admin', admin_users_url, class: 'btn btn-danger'
            =link_to 'Inicio' , root_path , class: 'btn btn-primary'
            =link_to 'Salir' , salir_path , class: 'btn btn-warning'
        = yield
      = render :partial => 'contents/contents_menu'
      = render :partial => 'products/products_menu'

